Node Red import.txt
[{"id":"c940f88a.9737f8","type":"debug","z":"b4677862.867cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"c38d1259.a1f9a","type":"ui_text","z":"b4677862.867cf8","group":"d61b698a.2a9d78","order":1,"width":"5","height":"1","name":"","label":"Monitor Start","format":"{{msg.payload}}","layout":"col-center","className":"","x":430,"y":140,"wires":[]},{"id":"cbb062e6.65ae","type":"mqtt in","z":"b4677862.867cf8","name":"","topic":"WIZnet/start","qos":"2","datatype":"auto","broker":"46180e53.8e24c","nl":false,"rap":true,"rh":0,"x":130,"y":100,"wires":[["c940f88a.9737f8","c38d1259.a1f9a","2870c43e.8ab40c"]]},{"id":"2870c43e.8ab40c","type":"file","z":"b4677862.867cf8","name":"","filename":"outage.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":430,"y":400,"wires":[[]]},{"id":"36401c3f.171184","type":"debug","z":"b4677862.867cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"629174f7.086b6c","type":"ui_text","z":"b4677862.867cf8","group":"47d9375.2ce6ec8","order":1,"width":"5","height":"1","name":"","label":"Network Up","format":"{{msg.payload}}","layout":"col-center","className":"","x":430,"y":240,"wires":[]},{"id":"1209d48e.9f228b","type":"mqtt in","z":"b4677862.867cf8","name":"","topic":"WIZnet/up","qos":"2","datatype":"auto","broker":"46180e53.8e24c","nl":false,"rap":true,"rh":0,"x":120,"y":200,"wires":[["36401c3f.171184","629174f7.086b6c","2870c43e.8ab40c"]]},{"id":"4be42ed.6da11d","type":"debug","z":"b4677862.867cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"f5056958.021ad8","type":"ui_text","z":"b4677862.867cf8","group":"9ab4b7cf.605b88","order":1,"width":"0","height":"0","name":"","label":"Network Down","format":"{{msg.payload}}","layout":"col-center","className":"","x":440,"y":340,"wires":[]},{"id":"6d8e9738.fdfa28","type":"mqtt in","z":"b4677862.867cf8","name":"","topic":"WIZnet/down","qos":"2","datatype":"auto","broker":"46180e53.8e24c","nl":false,"rap":true,"rh":0,"x":130,"y":300,"wires":[["4be42ed.6da11d","f5056958.021ad8","2870c43e.8ab40c"]]},{"id":"41aa4ca1.e860c4","type":"comment","z":"b4677862.867cf8","name":"IP 192.168.68.107","info":"","x":150,"y":40,"wires":[]},{"id":"171b053c.5d674b","type":"comment","z":"b4677862.867cf8","name":"Test dns.google","info":"","x":340,"y":40,"wires":[]},{"id":"d61b698a.2a9d78","type":"ui_group","name":"Monitor Start","tab":"cef2360b.d48d48","order":1,"disp":false,"width":"5","collapse":false,"className":""},{"id":"46180e53.8e24c","type":"mqtt-broker","name":"RPi","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"47d9375.2ce6ec8","type":"ui_group","name":"Network Up","tab":"cef2360b.d48d48","order":2,"disp":false,"width":"5","collapse":false,"className":""},{"id":"9ab4b7cf.605b88","type":"ui_group","name":"Network Down","tab":"cef2360b.d48d48","order":3,"disp":false,"width":"9","collapse":false,"className":""},{"id":"cef2360b.d48d48","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]